body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Ubuntu;
}

#SRT{
  position: relative;
  top:60px;
  color:#8B4513;
  font-family: cursive;
  padding: 20px 0;
}

span{
  text-decoration: underline;
}
.sid{
  height: 200px;
  width: 200px;
}

#SRJ
{
  margin-top: 80px;
  position: relative;
  padding: 5px;
  top:50px;
  text-transform: uppercase;
  font-family:Permanent Marker;
  color: #D2691E;


  height: 20px;

}
.cloud1{
  position: absolute;

  right:450px;
  top: 60px;
}

.cloud2{
  position: absolute;

  top:180px;

}

.mountain{
  position: relative;
  top: 40px;
}


.first
{


  display: inline-block;
  width: 100%;
  height:800px;
  background-color: #FFFFE0;





}

.skills{
  position: relative;
}

.skill-row{
  position: relative;

}

.contact-me{

  position: relative;
}

.sid2{
  height: 200px;
  width: 200px;

}

.sidd3{

  height: 200px;
  width: 200px;
}

.profile{
  background-color: #FFD700;
}

.middle-container{
  background-color: #FFFFE0;
}

.bottom-container{
  background-color: #7B68EE;
}

.skill-row1{
  background-color: #00BFFF;
}

.skill-row{
  background-color: #FF4500;
}

.contact-me{

  background-color: #7B68EE;
}
